* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 100px;
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.5),rgb(128, 0, 128, 0.5));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin-left: 25%;
}

input {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

h2 {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #6a0dad;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    body {
        padding: 20px;
        margin-left: 0;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }

    
}