

/* Restore more traditional button appearance */
/* button {
    -webkit-appearance: button;
    appearance: auto;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border: 2px outset buttonface;
    margin-left: 100px;
    margin-top: 10px;
}

input {
    margin-top: 10px;
    margin-left: 100px; */
/* } */